/* Estilos principales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1d1d1d;
    overflow-x: hidden;
    padding-top: 1%;
    overflow-y: auto;
}

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent; /* Fondo transparente */
}

body::-webkit-scrollbar-thumb {
    background-color: orange; /* Scroll naranja */
    border-radius: 10px;
    border: 3px solid transparent; /* Para dar un efecto más limpio */
    background-clip: padding-box;
}


#navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(170deg, #000000, #2b2b2b);
    padding: 1%;
    border-style: double;
    border-color: white;  
    border-radius: 15px;
}


#navbar a {
    color: white;
    text-decoration: none;
    position: relative;
   
}

#navbar a:hover {
    color: #ffcc00;
    transition: width 0.5s;
}

#navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffcc00;
    color: #ffcc00;
    left: 0;
    bottom: 0;
    transition: width 0.5s;
}

#navbar a:hover::after {
    width: 100%;
}

#estelar {
    padding-left: 2%;
    padding-right: 2%; 
    font-family: "Alumni Sans Pinstripe", sans-serif;
    color: white;
    font-size: 250%;
    font-weight: 150;
    background-color: #ff9500;
    border-radius: 10px;

}

#estelar:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
    font-weight: bold;
    transition: .5s;

}

/*menubtn*/

#menubtn {
    color: white;
    background: #2b2b2b;
    border-radius: 15px;
    border: 2px double white;
    font-size: 2rem;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    transition: all 0.5s ease;
    padding: 10px 15px;
    z-index: 1001;
    cursor: pointer;
    width: auto;
    height: auto;
}

#menubtn:hover {
    color: #ffcc00;
    background-color: #444444;
    border-radius: 15px;
    border-color: #ffcc00;
    border-style: double;
    transition: 0.5s;
}




#menubtn.active {
    color: #ffcc00;
    transform: rotate(180deg);
}

/*Nav*/

#navmenu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: linear-gradient(135deg, #333, #111);
    padding-top: 80px;
    transition: 0.5s;
    z-index: 1000;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
}

#navmenu.active {
    right: 0;
}

#navmenu ul {
    list-style: none;
}

#navmenu ul li {
    margin: 20px 0;
    padding: 0 30px;
    list-style-type: none; 
}

#navmenu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 200%;
    transition: all 0.3s;
    position: relative;
    padding: 5px 0;
    display: block;
    font-family: "Alumni Sans Pinstripe", sans-serif;

}

#navmenu ul li a:hover {
    color: #ffcc00;
}

#navmenu ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #ff9500, #ffcc00);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

#navmenu ul li a:hover::after {
    width: 100%;
}

#lil{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    color: white;
    font-size: 250%;
    font-weight: 150;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #ffcc00;
    transition: all 0.6s;

}

a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #ff9500, #ffcc00);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

h1{
    font-family: "Alumni Sans Pinstripe", sans-serif;

}

