/* Estilos generales para los botones de iconos sociales */
#whatsapp-button, #github-button, #linkedin-button, #email-button, #file-button {
    color: #ff9500;
    padding: 10px;
    border-radius: 10%;
    font-size: 175%;
    text-align: center;
    text-decoration: none; /* Elimina el subrayado predeterminado */
    margin-right: 10px;
    display: inline-block;
    position: relative; /* Necesario para el subrayado animado */
}

/* Estilo específico para el botón de WhatsApp */
#whatsapp-button {
    font-size: 175%;
}

/* Estilo específico para el botón de LinkedIn */
#linkedin-button {
    font-size: 175%;
}

/* Estilo específico para el botón de Email */
#email-button {
    font-size: 175%;
}

/* Estilo específico para el botón de Archivo */
#file-button {
    font-size: 175%;
}

/* Estilos al pasar el cursor sobre los botones */
#email-button:hover, #github-button:hover, #file-button:hover, #whatsapp-button:hover, #linkedin-button:hover {
    color: #ffcc00;
    transition: 0.6s;
    padding: 1%;
}

/* Subrayado animado al pasar el cursor */
#email-button::after, #github-button::after, #file-button::after, #whatsapp-button::after, #linkedin-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffd429;
    left: 0;
    bottom: 0;
    transition: width 0.5s;
}

#email-button:hover::after, #github-button:hover::after, #file-button:hover::after, #whatsapp-button:hover::after, #linkedin-button:hover::after {
    width: 100%;
}

/* My Resume Section Styling */
#my-resume {
    padding: 60px 20px;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: "Alumni Sans Pinstripe", sans-serif;
}

#estelar2{
    font-size: 2.5em;
    color: #ffcc00;
    text-align: center;
    margin-bottom: 40px;
    background-color: #333;
    border-radius: 30px;
    padding: 10px;
    margin-left: 18%;
    margin-right: 18%;
}

.resume-item {
    margin-bottom: 20px;
    border: 2px solid #ff9500;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 18%;
    margin-right: 18%;
}

.toggle-btn {
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    text-align: left;
    font-size: 2.5em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
      
}

.toggle-btn:hover {
    background-color: #444444;
}

.resume-item .content {
    display: none; /* Oculta todo el contenido por defecto */
    padding: 20px;
    background-color: #0f0f0f;
}

.resume-item h3 {
    color: #ff9500;
    margin-bottom: 10px;
    font-size: 1.7em;
}

.resume-item p {
    color: #cccccc;
    margin-bottom: 15px;
}

.resume-item ul {
    list-style-type: none;
    padding: 0;
}

.resume-item li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 2.0em;
}

.resume-item li::before {
    content: '•';
    color: #ffcc00;
    position: absolute;
    left: 0;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .resume-item .toggle-btn {
        font-size: 1.3em;
    }
    
    .resume-item h3 {
        font-size: 2.0em;
    }
    
    .resume-item li {
        font-size: 1.5em;
    }

    #estelar2{
    
        margin-left: 5%;
        margin-right: 5%;
    }
    

    .resume-item {
        margin-left: 5%;
        margin-right: 5%;
    }
}