#Profile {
    max-width: 95%;
    margin: 20px auto;
    padding: 2%;
    background-color: #b4b4b4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#Profile h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.profile-content {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    gap: 20px;
}

#profilepic {
    width: 200px;
    flex-shrink: 0; /* Evita que la imagen se encoja */
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(0.9);
   

}

#profilepic:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

#Profile p {
    padding:1%; 
    flex: 1; /* Toma el espacio disponible pero permite que la lista también tome espacio */
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    text-align: justify;
    margin: 0;
    transition: transform 0.3s ease;
    border-style: double;
    border-radius: 15px;
    padding-bottom: 5%;
}

#Profile p:hover {
    transform: scale(1.02);
}

#profile-list-container {
    flex: 1; /* Toma el espacio restante disponible */
    align-self: stretch; /* Se estira para ocupar toda la altura */
    display: flex; /* Para contener la lista correctamente */
    
}

#profile-list {
    width: 100%;
    padding-left: 30%; /* Espacio para los bullets */
    margin: 0;
    border-style: double;
    border-radius: 15px;
    color: #666;

}

#profile-list li {
    color: #666;
    list-style-type: disc;
    line-height: 1.6;
    margin-bottom: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;    
    font-size: 110%;

    
}

#profile-list:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

/* Adaptabilidad para pantallas pequeñas */
@media (max-width: 768px) {
    .profile-content {
        flex-direction: column;
        text-align: center;
    }

    #profilepic {
        margin-bottom: 20px;
    }
    
    #profile-list-container {
        width: 100%;
    }
    
    #profile-list {
        padding-left: 20px;
        text-align: left;
    }
}